<mat-vertical-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Saisissez votre adresse email</ng-template>
            <mat-form-field class="full-width">
                <input matInput placeholder="votrenom@xxx.zz" formControlName="email" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Entrez votre mot de passe</ng-template>
            <mat-form-field class="full-width">
                <input matInput formControlName="password" required>
                <mat-hint [ngClass]="{'activate': firstFormGroup.controls.email.valid}"
                          *ngIf="userExist()" (click)="resetPassword()" align="end">
                    J'ai oublié mon mot de passe
                </mat-hint>
            </mat-form-field>
            <div>
                <button mat-raised-button type="button" color="warn" (click)="signup()"
                        *ngIf="!userExist()"
                        [disabled]="!secondFormGroup.valid">
                    Première connexion
                </button>
                <button mat-button (click)="loginUser()" *ngIf="userExist()">Connexion</button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>