<yaga-map zoom="12" [(lat)]="center.lat" [(lng)]="center.lng">
    <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
    <yaga-feature-group>
        <yaga-marker *ngFor="let m of layers" [lat]="m.parent.geom.lat"
                     [lng]="m.parent.geom.lng" [icon]="m.icon" (click)="openMyHome(m.parent)">
            <yaga-popup closeButton="true" *ngIf="!isCollege(m.parent) && !isMyHome(m.parent)" [opened]="true">
                <h5>
                    <button mat-icon-button disabled aria-hidden="true" *ngIf="m.parent.places">
                        {{m.parent.places}} x <mat-icon>person</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" style="float:right;" (click)="openDialog(m.parent)"
                            *ngIf="canEdit(m.parent)" title="Editer">
                        <mat-icon aria-label="Edit value">mode_edit</mat-icon>
                    </button>

                    {{m.parent.name}}
                </h5>
                <ul class="flex-container">
                    <li>
                        <i class="material-icons" *ngIf="m.parent.phone">phone_android</i>
                        <a [href]="'tel:' + m.parent.phone">{{m.parent.phone}}</a>
                    </li>
                    <li>
                        <i class="material-icons" *ngIf="m.parent.mail">email</i>
                        <a [href]="'mailto:' + m.parent.mail">{{m.parent.mail}}</a>
                    </li>
                </ul>
                <mat-divider></mat-divider>
                <ul class="flex-container vertical">
                    <li *ngIf="m.parent.capacities"><u>peut aider à</u> : {{m.parent.capacities}}</li>
                    <li *ngIf="m.parent.needs"><u>a besoin de</u> : {{m.parent.needs}}</li>
                </ul>
            </yaga-popup>
            <yaga-tooltip closeButton="true" *ngIf="isCollege(m.parent)" [opened]="true">
                <button mat-icon-button disabled aria-hidden="true">
                    <mat-icon>person</mat-icon>
                </button>
                {{m.parent.name}}
                <ul class="flex-container">
                    <li>
                        <i class="material-icons" *ngIf="m.parent.phone">phone_android</i>
                        <a [href]="'tel:' + m.parent.phone">{{m.parent.phone}}</a>
                    </li>
                    <li>
                        <i class="material-icons" *ngIf="m.parent.mail">email</i>
                        <a [href]="'mailto:' + m.parent.mail">{{m.parent.mail}}</a>
                    </li>
                </ul>
            </yaga-tooltip>
        </yaga-marker>
    </yaga-feature-group>
</yaga-map>
<mat-list dense>
    <mat-list-item>
        <h5>Légende</h5>
    </mat-list-item>
    <mat-list-item *ngFor="let leg of legends">
        <img matListAvatar [src]="leg.options.iconUrl" [alt]="leg.options.attribution">
        <h6 matLine> {{leg.options.attribution}} </h6>
    </mat-list-item>
</mat-list>